
<div class="jumbotron bg-red" style="text-align:center;" >
    <h1> Dynamic Graphs</h1>
    <p class="lead txt-silver">Jethro Sloan</p>
</div>
<div class="row">
    <div class="col-md-4 center-block" style="text-align:center">
        <span kendo-radialgauge
              k-theme="'Black'"
              k-scale="{ min:0, max: 100}"
              ng-model="selectedNumber"></span>
    </div>
    <div class="col-md-4 center-block">
        <span kendo-radialgauge
              k-theme="'Black'"
              k-scale="{ min:0, max: 100}"
              ng-model="selectedNumber"></span>
    </div>
    <div class="col-md-4 center-block">
        <span kendo-radialgauge
              k-theme="'Black'"
              k-scale="{ min:0, max: 100}"
              ng-model="selectedNumber"></span>\
    </div>
</div>
<div class="row">
    <div class="col-md-4 center-block" style="text-align:center">

        <div kendo-chart
             k-legend="{ position: 'bottom' }"
             k-series-defaults="{ type: 'bar' }"
             k-series="[
                                { field: 'nuclear', name: 'Nuclear electricity' },
                                { field: 'hydro', name: 'Hydro electricity' },
                                { field: 'wind', name: 'Wind electricity' }
                            ]"
             k-data-source="graphData"
             k-theme="'Black'"
             style="height: 400px;"></div>
    </div>
    <div class="col-md-4 center-block">
        <div kendo-chart
             k-legend="{ position: 'bottom' }"
             k-series-defaults="{ type: 'line' }"
             k-series="[
                                { field: 'nuclear', name: 'Nuclear electricity' },
                                { field: 'hydro', name: 'Hydro electricity' },
                                { field: 'wind', name: 'Wind electricity' }
                            ]"
             k-data-source="graphData"
             k-theme="'Black'"
             style="height: 400px;"></div>
    </div>
    <div class="col-md-4 center-block">
        <div kendo-chart
             k-legend="{ position: 'bottom' }"
             k-series-defaults="{ type: 'area' }"
             k-series="[
                                { field: 'nuclear', name: 'Nuclear electricity' },
                                { field: 'hydro', name: 'Hydro electricity' },
                                { field: 'wind', name: 'Wind electricity' }
                            ]"
             k-data-source="graphData"
             k-theme="'Black'"
             style="height: 400px;"></div> </div>
</div>
